<component name="ArtifactManager">
  <artifact type="war" name="springmore-easygrid:war">
    <output-path>$PROJECT_DIR$/springmore-easygrid/target</output-path>
    <root id="archive" name="springmore-easygrid-1.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmore-easygrid:war exploded" />
    </root>
  </artifact>
</component>